@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050505;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 999px;
}